

@font-face {
  font-family: "Prototype";
  src: url('./assets/fonts/Prototype.ttf');
}

.prototype{
  font-family: "Prototype";
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}